# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.hg/00changelog.i
.hg/cache/branch2-served
.hg/cache/rbc-names-v1
.hg/cache/rbc-revs-v1
.hg/cache/tags
.hg/requires
.hg/cur-message.txt
.hg/dirstate
.hg/last-message.txt
.hg/store/00changelog.i
.hg/store/00manifest.i
*.i
*.d
.hg/store/fncache
.hg/store/undo
.hg/store/phaseroots
*.dirstate
.hg/undo.desc
.hg/store/undo.backupfiles
.hg/store/undo.backup.fncache
.hg/store/undo.phaseroots
.hgignore
.hg/thgstatus
.hg/undo.bookmarks
.hg/undo.branch
*.bin
*.sln
Adventures.userprefs
*.csproj
*.meta
